# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Node
node_modules/
dist/

# Archives
*.zip
